%section#bar.bar
  .ctn
    .bar_i.__location
      .bar_i_inner
        Регион:&nbsp;
        %a{href: "#", class: "a __pseudo __inner"}
          %span Беларусь
      .dropdown
        .dropdown_inner
          %ul.dropdown_menu
            %li.dropdown_menu_i
              %a{href: "#", class: "dropdown_menu_i_a"} Беларусь
            %li.dropdown_menu_i
              %a{href: "#", class: "dropdown_menu_i_a"} Казахстан
            %li.dropdown_menu_i
              %a{href: "#", class: "dropdown_menu_i_a"} Украина
            %li.dropdown_menu_i
              %a{href: "#", class: "dropdown_menu_i_a"} Россия
    .bar_i.__currency
      .bar_i_inner
        Валюта:&nbsp;
        %a{href: "#", class: "a __pseudo __inner"}
          %span BYR
      .dropdown
        .dropdown_inner
          %ul.dropdown_menu
            %li.dropdown_menu_i
              %a{href: "#", class: "dropdown_menu_i_a"} USD
            %li.dropdown_menu_i
              %a{href: "#", class: "dropdown_menu_i_a"} EUR
            %li.dropdown_menu_i
              %a{href: "#", class: "dropdown_menu_i_a"} RUB
            %li.dropdown_menu_i
              %a{href: "#", class: "dropdown_menu_i_a"} UGR
    .bar_i.__contacts
      .bar_i_inner.tx.__center
        +375 (29) 610-26-26
        &nbsp;
        +375 (29) 268-90-90
        &nbsp;
        %a{href: "/contacts"} Контакты
      .dropdown
        .dropdown_inner
          .contacts
            .contacts_cell.__phone.tx.__center
              %p.m-b_1 +375 (29) 610-26-26
              %p +375 (29) 268-90-90
            .contacts_cell.__links.p-l_3
              %p
                E-mail:
                %i.ico.__16.__mail.va-m
                %a{href: "mailto: info@pudra.by"} info@pudra.by
              %p
                Skype:
                %i.ico.__16.__skype.va-m
                info_pudra.by

    .bar_i.__authorize
      .bar_i_inner
        %i.ico.__20.__user.va-m
        %span.va-m Моя пудра
      .dropdown
        .dropdown_inner
          .authorized
            %figure.authorized_user
              %img{src: "/assets/images/fake/user.png", class: "authorized_user_avatar", width: 50, height: 50, alt: "Черновец Татьяна"}
              %figcaption.authorized_user_caption
                %p.authorized_user_name Черновец Татьяна
                %p.authorized_user_status Статус: Cеребро
            %nav
              %a{href: "#"} Личный кабинет
              %br
              %a{href: "#"} Мои заказы
      -#%a{href: "#", data: {dialog: "true", url: "/dialogs/_login"}} Войти