%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width"}
%meta{name: "format-detection", content: "telephone=no"}
%meta{name: "description", content: ""}
%meta{name: "keywords", content: ""}
%link{rel: "author", href: "/humans.txt"}
%link{rel: "icon", href: "/favicon.ico"}
%link{rel: "apple-touch-icon", href: "/apple-touch-icon-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "57x57", href: "/apple-touch-icon-57x57-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png"}
%link{rel: "stylesheet", href: "/assets/stylesheets/application.css"}
%script{src: "/assets/javascripts/vendor/modernizr-latest.js"}
%script{src: "/assets/javascripts/vendor/jquery-2.0.3.min.js"}
%script{src: "/assets/javascripts/vendor/jquery-ui.min.js"}
%script{src: "/assets/javascripts/vendor/underscore-min.js"}
%script{src: "/assets/javascripts/vendor/backbone-min.js"}
%script{src: "/assets/javascripts/vendor/smartresize.js"}
%script{src: "/assets/javascripts/vendor/doublehover.js"}
%script{src: "/assets/javascripts/scrollwidth.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.min.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.carousel.min.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.center.min.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.scrollVert.min.js"}
%script{src: "/assets/javascripts/vendor/cycle2/jquery.cycle2.swipe.min.js"}
%script{src: "/assets/javascripts/vendor/jquery.iosslider.min.js"}
%script{src: "/assets/javascripts/vendor/jquery.arcticmodal-0.3.min.js"}
%script{src: "/assets/javascripts/vendor/imagesloaded.pkgd.min.js"}
%script{src: "/assets/javascripts/vendor/masonry.pkgd.min.js"}
%script{src: "/assets/javascripts/vendor/accounting.min.js"}
%script{src: "/assets/javascripts/vendor/jquery.raty.min.js"}
%script{src: "/assets/javascripts/jquery.extensions.js"}
%script{src: "/assets/javascripts/forms.js"}
%script{src: "/assets/javascripts/components.js"}
%script{src: "/assets/javascripts/feed.js"}
%script{src: "/assets/javascripts/project.js"}