%header#header.header{role: "banner"}
  .ctn

    .header_i.__logo
      %a{href: "/"}
        %img{src: "/assets/images/logo.png", class: "va-t", width: 130, height: 111, alt: "Магазин косметики Pudra.by"}

    .header_i.__about
      %figure
        %a{href: "#", class: 'header_i_a'} О магазине
        %figcaption.header_i_caption

    .header_i.__wish
      %figure
        %a{href: "#", class: 'header_i_a a __pseudo'} Виш-лист
        %figcaption.header_i_caption

    .header_i.__basket
      %figure
        %a{href: "#", class: 'header_i_a a __pseudo'} Корзина
        %figcaption.header_i_caption