-#%section#site-map.site-map
  .ctn
    %nav.site-map_nav.cf
      %p.site-map_nav_t Каталоги
      %a{href: "#", class: "site-map_nav_a"} Популярная косметика
      %a{href: "#", class: "site-map_nav_a"} Салонная косметика
      %a{href: "#", class: "site-map_nav_a"} Luxury/ Раскошное качество
      %a{href: "#", class: "site-map_nav_a"} Натуральная косметика<br>и&nbsp;органика
      %a{href: "#", class: "site-map_nav_a"} Для детей
      %a{href: "#", class: "site-map_nav_a"} Для мужчин
      %a{href: "#", class: "site-map_nav_a"} Гигиена
    %nav.site-map_nav.cf
      %p.site-map_nav_t Бренды
      %a{href: "#", class: "site-map_nav_a"} Косметика
      %a{href: "#", class: "site-map_nav_a"} Парфюмерия
      %a{href: "#", class: "site-map_nav_a"} Аксессуары
      %a{href: "#", class: "site-map_nav_a"} Гигиена
      %a{href: "#", class: "site-map_nav_a"} Инструменты
    %nav.site-map_nav.cf
      %p.site-map_nav_t Акции
      %a{href: "#", class: "site-map_nav_a"} Косметика
      %a{href: "#", class: "site-map_nav_a"} Парфюмерия
      %a{href: "#", class: "site-map_nav_a"} Аксессуары
      %a{href: "#", class: "site-map_nav_a"} Гигиена
      %a{href: "#", class: "site-map_nav_a"} Инструменты
    %nav.site-map_nav.cf
      %p.site-map_nav_t Обучение
      %a{href: "#", class: "site-map_nav_a"} Визаж
      %a{href: "#", class: "site-map_nav_a"} Уход за телом
      %a{href: "#", class: "site-map_nav_a"} Парикмахер
      %a{href: "#", class: "site-map_nav_a"} Спа-процедуры
    %nav.site-map_nav.cf
      %p.site-map_nav_t Журнал
      %a{href: "#", class: "site-map_nav_a"} Читай
      %a{href: "#", class: "site-map_nav_a"} Смотри
      %a{href: "#", class: "site-map_nav_a"} Учись
      %a{href: "#", class: "site-map_nav_a"} Учавствуй
    %nav.site-map_nav.cf
      %p.site-map_nav_t Магазин Pudra.by
      %a{href: "#", class: "site-map_nav_a"} Оплата и доставка
      %a{href: "#", class: "site-map_nav_a"} О магазине
      %a{href: "#", class: "site-map_nav_a"} Вопросы и ответы
      %a{href: "#", class: "site-map_nav_a"} Карьера
      %a{href: "#", class: "site-map_nav_a"} Использование<br>информации
      %a{href: "#", class: "site-map_nav_a"} Размещение рекламы
      %a{href: "#", class: "site-map_nav_a"} Как сделать заказ?