.article_body
  %p.tx.__xs.m-b_1
    Раздел:&nbsp;
    %a.tx.__color.__major{href: "#"} Смотри
    %span.tx.__color.__muted &nbsp;&nbsp;|&nbsp;&nbsp;
    Автор: Островская Алиса
  %h3.tx.__upper.m-b_1
    %a{href: "/article_show"} Выбор косметических средств с учетом вашего типа кожи
  %p.tx.__xs Я&nbsp;немного помогу вам ответить на&nbsp;этот вопрос и&nbsp;покажу тот минимум, который рекомендовано брать с&nbsp;собой, когда вы&nbsp;отправились за&nbsp;город на&nbsp;выходные.