%footer.article_footer
  %ul
    %li
      %i.ico.__17.__eye
      %span 116
    %li
      %i.ico.__17.__like
      %span 8
    %li
      %i.ico.__17.__comments
      %span 32
  %a.article_footer_more.tx.__xs{href: "/article_show"} Подробнее