%article.article.__rtl
  .grid
    .grid-i.__grid-4
      = haml '/views/common/article/_body'.to_sym
      = haml '/views/common/article/_footer'.to_sym
    .grid-i.__grid-4
      = haml '/views/common/article/_header'.to_sym