.dialog.__authorize
  %i.ico.__20.__times.dialog_close.js-dialog_close
  %h2.tx.__upper.m-b_2 Восстановление пароля
  %hr.hr.__muted.m-b_2
  .grid
    .grid-i.__grid-3
      %form.form
        %div.m-b_2
          %label.form_label.tx.__upper.form_el.__bold
            %b E-mail:
          %input.form_text.form_el.__block{type: "text"}
        %div
          %input.form_button{type: "submit", value: "Отправить"}
    .grid-i.__grid-3.__prefix-1
      .p-l_1
        %label.form_label.tx.__upper.form_el.__bold.m-b_1
          %b Войти, используя соцсети:
        = haml '/dialogs/_social'.to_sym