.dialog.__authorize
  %i.ico.__20.__times.dialog_close.js-dialog_close
  %h2.tx.__upper.m-b_2 Войти на Пудра.by
  %hr.hr.__muted.m-b_2
  .grid
    .grid-i.__grid-3
      %form.form
        %div.m-b_1
          %label.form_label.tx.__upper.form_el.__bold
            %b E-mail:
          %input.form_text.form_el.__block{type: "text"}
        %div.m-b_1
          %label.form_label.tx.__upper.form_el.__bold
            %b Пароль:
          %input.form_text.form_el.__block{type: "password"}
        %div.m-b_1
          %label.form_label
            %span.form_checkbox.form_el.__fake
              %input.form_checkbox.form_el.__real{type: "checkbox"}
            &nbsp;
            Запомнить меня
        %div.m-b_1
          %input.form_button{type: "submit", value: "Войти на сайт"}
        %div.m-b_2
          %a.tx.__12{href: "#", data: {dialog: "true", url: "/dialogs/_forgot"}} Забыли пароль?
        %div.tx.__12
          %p.tx.__upper
            %b Первый раз на сайте?
          %p
            %a.tx.__12{href: "#", data: {dialog: "true", url: "/dialogs/_register"}} Регистрация
    .grid-i.__grid-3.__prefix-1
      .p-l_1
        %label.form_label.tx.__upper.form_el.__bold.m-b_1
          %b Войти, используя соцсети:
        = haml '/dialogs/_social'.to_sym