.dialog.__authorize
  %i.ico.__20.__times.dialog_close.js-dialog_close
  %h2.tx.__upper.m-b_2 Войти на Пудра.by
  %hr.hr.__muted.m-b_2
  .grid
    .grid-i.__grid-3
      %form.form
        %div.m-b_1
          %label.form_label.tx.__upper.form_el.__bold
            %b E-mail:
          %input{type: "text", class: "form_text form_el __block"}
        %div.m-b_1
          %label.form_label.tx.__upper.form_el.__bold
            %b Пароль:
          %input{type: "password", class: "form_text form_el __block"}
        %div.m-b_1
          %label.form_label
            %span.form_checkbox.form_el.__fake
              %input.form_checkbox.form_el.__real{type: "checkbox"}
            &nbsp;
            Запомнить меня
        %div.m-b_1
          %input{type: "submit", class: "form_button", value: "Войти на сайт"}
        %div.m-b_2
          %a{href: "#", class: "tx __12", data: {dialog: "true", url: "/dialogs/_forgot"}} Забыли пароль?
        %div.tx.__12
          %p.tx.__upper
            %b Первый раз на сайте?
          %p
            %a{href: "#", class: "tx __12", data: {dialog: "true", url: "/dialogs/_register"}} Регистрация
    .grid-i.__grid-3.__prefix-1
      .p-l_1
        %label.form_label.tx.__upper.form_el.__bold.m-b_1
          %b Войти, используя соцсети:
        .m-b_2
          %a{href: "#"}
            %img{src: "/assets/images/blank.gif", class: "sprites __socialbtn __fb fa-t", width: 210, height: 40, alt: "facebook.com"}
        .m-b_2
          %a{href: "#"}
            %img{src: "/assets/images/blank.gif", class: "sprites __socialbtn __vk fa-t", width: 210, height: 40, alt: "vk.com"}
        .m-b_2
          %a{href: "#"}
            %img{src: "/assets/images/blank.gif", class: "sprites __socialbtn __ok fa-t", width: 210, height: 40, alt: "odnoklassniki.ru"}
        %a{href: "#"}
          %img{src: "/assets/images/blank.gif", class: "sprites __socialbtn __mail fa-t", width: 210, height: 40, alt: "mail.ru"}