.dialog.__authorize
  %i.ico.__20.__times.dialog_close.js-dialog_close
  %h2.tx.__upper.m-b_2 Регистрация на Пудра.by
  %hr.hr.__muted.m-b_2
  .grid
    .grid-i.__grid-3
      %form.form
        %div.m-b_1
          %label.form_label.tx.__upper.form_el.__bold
            %b E-mail:
          %input.form_text.form_el.__block{type: "text"}
        %div.m-b_1
          %label.form_label.tx.__upper.form_el.__bold
            %b Пароль:
          %input.form_text.form_el.__block{type: "password"}
        %div.m-b_2
          %label.form_label.tx.__upper.form_el.__bold
            %b Телефон:
          %input.form_text.form_el.__block{type: "text"}
        %div.m-b_1
          %input.form_button{type: "submit", value: "Регистрация"}
    .grid-i.__grid-3.__prefix-1
      .p-l_1
        %label.form_label.tx.__upper.form_el.__bold.m-b_2{style: "line-height: 14px;"}
          %b Зарегистрироваться, используя соцсети:
        = haml '/dialogs/_social'.to_sym