.m-b_2
  %a{href: "#"}
    %img.sprites.__socialbtn.__fb.fa-t{src: "/assets/images/blank.gif", width: 210, height: 40, alt: "facebook.com"}
.m-b_2
  %a{href: "#"}
    %img.sprites.__socialbtn.__vk.fa-t{src: "/assets/images/blank.gif", width: 210, height: 40, alt: "vk.com"}
.m-b_2
  %a{href: "#"}
    %img.sprites.__socialbtn.__ok.fa-t{src: "/assets/images/blank.gif", width: 210, height: 40, alt: "odnoklassniki.ru"}
%a{href: "#"}
  %img.sprites.__socialbtn.__mail.fa-t{src: "/assets/images/blank.gif", width: 210, height: 40, alt: "mail.ru"}