- hash = rand(9999)
%article.item.__badge.__hit
  %header.item_name
    %a{href: "/catalog_show#{hash}"} Dance legend
  .item_photo
    %a{href: "/catalog_show#{hash}"}
      %img{src: "/assets/images/fake/item_#{rand(1..9)}.jpg", class: "va-t", width: 130, height: 120, alt: "Коллекция лаков для ногтей Sahara Crystal"}
  .item_caption
    %a{href: "/catalog_show#{hash}"} Коллекция лаков для ногтей Sahara Crystal
  %footer.item_price
    .item_price_old.format-money.__rub 75000
    .item_price_new.format-money.__rub 54000