%form.form
  .filter

    %ul.filter_badge.m-b_1
      %li.filter_badge_i.__new
        %label.form_label
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          Новинки
      %li.filter_badge_i.__stock
        %label.form_label
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          Акции
      %li.filter_badge_i.__hit
        %label.form_label
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          Хит продаж
      %li.filter_badge_i.__order
        %label.form_label
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          Под заказ

    .filter_block.m-b_1
      .filter_block_t
        Разделы
        %i.fa.fa-chevron-down
      .filter_block_b

        .filter_accordion

          .filter_accordion_i
            .filter_accordion_i_t
              %i.fa.fa-chevron-right
              Уход за волосами
            .filter_accordion_i_b
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Уход за волосами

          .filter_accordion_i
            .filter_accordion_i_t
              %i.fa.fa-chevron-right
              Уход за телом
            .filter_accordion_i_b
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Уход за телом

          .filter_accordion_i
            .filter_accordion_i_t
              %i.fa.fa-chevron-right
              Уход за волосами
            .filter_accordion_i_b
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Уход за волосами

          .filter_accordion_i
            .filter_accordion_i_t
              %i.fa.fa-chevron-right
              Декоративная косметика
            .filter_accordion_i_b
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Для лица
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Для глаз
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Для губ
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Для тела
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Для ногтей
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Для ногтей

          .filter_accordion_i
            .filter_accordion_i_t
              %i.fa.fa-chevron-right
              Принадлежности
            .filter_accordion_i_b
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Принадлежности

          .filter_accordion_i
            .filter_accordion_i_t
              %i.fa.fa-chevron-right
              Для мужчин
            .filter_accordion_i_b
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Для мужчин

          .filter_accordion_i
            .filter_accordion_i_t
              %i.fa.fa-chevron-right
              Подарочные наборы
            .filter_accordion_i_b
              %label.form_label.form_el.__block
                %span.form_checkbox.form_el.__fake
                  %input.form_checkbox.form_el.__real{type: "checkbox"}
                &nbsp;
                Подарочные наборы

    .filter_block
      .filter_block_t
        Бренды
        %i.fa.fa-chevron-down
      .filter_block_b.p-t_1.p-b_1.p-l_3
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;&nbsp;
          %b Bourjouis
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;&nbsp;
          %b Max
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;&nbsp;
          %b Factor
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;&nbsp;
          %b Rimmel
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;&nbsp;
          %b NYX
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;
          Keune
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;
          Tigi
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;
          Brelil
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;
          Christina
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;
          T-lab Professional