%form.form
  %nav
    %ul.tags
      %li.tags_i
        %span.tx.__xs
          Тушь
          &nbsp;
          %a{href: "#"}
            %i.fa.fa-times-circle
      %li.tags_i
        %span.tx.__xs
          Тени
          &nbsp;
          %a{href: "#"}
            %i.fa.fa-times-circle
      %li.tags_i
        %span.tx.__xs
          Корректор
          &nbsp;
          %a{href: "#"}
            %i.fa.fa-times-circle
      %li.tags_i
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;
          Подводка для глаз
      %li.tags_i
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;
          Карандаш для глаз
      %li.tags_i
        %label.form_label.form_el.__block
          %span.form_checkbox.form_el.__fake
            %input.form_checkbox.form_el.__real{type: "checkbox"}
          &nbsp;
          Карандаш для губ
      %li.tags_i
        %span.tx.__xs
          Губная помада
          &nbsp;
          %a{href: "#"}
            %i.fa.fa-times-circle
      %li.tags_i
        %span.tx.__xs
          Блеск для губ
          &nbsp;
          %a{href: "#"}
            %i.fa.fa-times-circle