%ul
  %li
    %a{href: "/catalog"}
      Белорусская косметика
      %i.fa.fa-chevron-right
    %ul
      %li
        %a{href: "/catalog"} Уход за лицом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за телом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за волосами
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Декоративная косметика
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Подарочные наборы
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Парфюмерия
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
  %li
    %a{href: "/catalog"}
      Популярная косметика
      %i.fa.fa-chevron-right
    %ul
      %li
        %a{href: "/catalog"} Уход за лицом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за телом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за волосами
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Декоративная косметика
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Подарочные наборы
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Принадлежности
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
  %li
    %a{href: "/catalog"}
      Салонная косметика
      %i.fa.fa-chevron-right
    %ul
      %li
        %a{href: "/catalog"} Уход за лицом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за телом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за волосами
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Для парикмахеров
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Маникюр / Педикюр
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Визаж / Боди арт
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Депиляция / Массаж
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Наращиваине и окраска ресниц
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Наращиваине ногтей
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
  %li
    %a{href: "/catalog"}
      Luxury / Роскошное качество
      %i.fa.fa-chevron-right
    %ul
      %li
        %a{href: "/catalog"} Уход за лицом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за телом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за волосами
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Аксессуары
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Подарочные наборы
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Декоративная косметика
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
  %li
    %a{href: "/catalog"}
      Натуральная косметика и органика
      %i.fa.fa-chevron-right
    %ul
      %li
        %a{href: "/catalog"} Уход за лицом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за телом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за волосами
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Декоративная косметика
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Подарочные наборы
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
  %li
    %a{href: "/catalog"}
      Для детей
      %i.fa.fa-chevron-right
    %ul
      %li
        %a{href: "/catalog"} Для младенцев
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Для ванны, гигиена
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за детской кожей
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Парфюм
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Детская декоративная косметика
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Для будующих и кормящих мам
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
  %li
    %a{href: "/catalog"}
      Для мужчин
      %i.fa.fa-chevron-right
    %ul
      %li
        %a{href: "/catalog"} Уход за лицом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за телом
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Уход за волосами
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Подарочные наборы
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Принадлежности
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
  %li
    %a{href: "/catalog"}
      Гигиена
      %i.fa.fa-chevron-right
    %ul
      %li
        %a{href: "/catalog"} Для всей семьи
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Для детей
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
      %li
        %a{href: "/catalog"} Для женщин
        %div{style: "background-image: url(/assets/images/fake/promo_1.jpg);"}
  %li
    %a.o-h{href: "/catalog"} Парфюмерия