.headline
  .grid
    .grid-i.__grid-10.va-b
      %h1.headline_t Заголовок текущей страницы
    .grid-i.__grid-2.va-b
      .tx.__right
        %a{href: "#", class: "headline_print"}
          %i.ico.__16.__print
          На печать