button, input, select, textarea {
  -webkit-border-radius: 0;
  font-family: inherit;
     -webkit-appearance: none;
  @if $focus == true {
    &:focus { @extend %focus-style; }
  }
}

button, input {
  &::moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

input {
  &::-ms-clear {display: none;}
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
}

//
// .. Button, reset, submit
//
.form_button {
  @include prefixes(box-sizing, border-box);
  @include linear-gradient(horizontal, #e62368, #f60c40);
  display: inline-block;
  border: none;
  background-color: #eb1c5c;
  color: #fff;
  font-size: $form-el-font-size;
  line-height: $form-el-line-height;
  padding: 0 15px;
  cursor: pointer;
  text: {
    transform: uppercase;
    align: center;
  }
  //&:not([disabled]):hover {box-shadow: inset 0 0 .3em rgba(0, 0, 0, .1);}
  //&:not([disabled]):active { @include linear-gradient(vertical, #ddd, #eee); }
  &.__rounded {  border-radius: 15px;}
  &.__m {
    height: 30px;
    line-height: 30px;  
  }
  &.__l {
    height: 40px;
    line-height: 40px;  
  }
  .ico {
    position: relative;
    top: 2px;
    margin-left: 30px;
  } 
}
a.form_button {
  @include prefixes(transition, none);
  text-decoration: none;
  &:hover {color: #fff;}
}

//
// .. Text
//
.form_text {
  //line-height: $form-el-line-height;
  @include prefixes(box-sizing, border-box);
  padding: $form-el-padding;
  height: $form-el-line-height; // .. FF
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  background: $form-el-bg;
  color: $form-el-color;
  font-size: $form-el-font-size;
}

//
// .. Checkbox, radio, file, select,
//
.form_el {
  &.__real {cursor: pointer;}
  @if $focus == true {
    &.__focus { @extend %focus-style; }
  }
}

//
// .. Checkbox
//
.form_checkbox.__fake {
  @include prefixes(box-sizing, border-box);
  width: 15px;
  height: 15px;
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  background: $form-el-bg;
  line-height: 15px;
  &[data-checked="true"]::after {
    margin: -1px 0 0 1px;
    color: #f21249;
    content:"\f00c";
    text-align: center;
    font: {
      family: FontAwesome;
      size: 10px;
    }
  }
  &[data-checked="true"][disabled]::after {opacity: .33;}
}

//
// .. Radio
//
.form_radio.__fake {
  @include prefixes(box-sizing, border-box);
  width: 1.6rem;
  height: 1.6rem;
  border: $form-el-border;
  border-radius: .8rem;
  background: $form-el-bg;
  line-height: 1.6rem;
  &[data-checked="true"] {
    &::after {
      margin: -1px 0 0 -1px;
      color: fade-out($form-el-color, .3);
      content: "\f111";
      font: {
        family: FontAwesome;
        size: .8rem;
        align: center;
      }
    }
    &[disabled]::after {opacity: .33;}
  }
}

//
// .. File
//
.form_file.__fake {
  @include prefixes(box-sizing, border-box);
  padding: $form-el-padding;
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  background: $form-el-bg;
  color: $form-el-color;
  font-size: $form-el-font-size;
  line-height: $form-el-line-height;
  cursor: pointer;
  &::after {
    @include prefixes(box-sizing, border-box);
    @include prefixes(transform, translate(0, -50%));
    right: .4rem;
    width: 2.4rem;
    height: 2rem;
    border: $form-el-border;
    border-radius: $form-el-border-radius;
    color: #aaa;
    content: "\f07c";
    line-height: 1.3;
    font: {
      family: FontAwesome;
      size: $form-el-font-size;
      align: center;
    }
  }
  &[disabled]::after {opacity: .5;}
  &:not([disabled]):hover::after {border: .1em solid #aaa;}
  > p {margin-right: 2.8rem;}
}

//
// .. Select
//
.form_select.__fake {
  @include prefixes(box-sizing, border-box);
  padding: $form-el-padding;
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  background: $form-el-bg;
  color: $form-el-color;
  vertical-align: top;
  font-size: $form-el-font-size;
  line-height: $form-el-line-height;
  &::after {
    @include prefixes(box-sizing, border-box);
    @include prefixes(transform, translate(0, -50%));
    right: .4rem;
    width: 2rem;
    height: 2rem;
    border: $form-el-border;
    border-radius: $form-el-border-radius;
    color: #aaa;
    content: "\f078";
    line-height: 1.8;
    font: {
      family: FontAwesome;
      size: 1rem;
    }
    text: {
      align: center;
      indent: -.1rem;
    }
  }
  &[disabled]::after {opacity: .5;}
  &:not([disabled]):hover::after {border: .1em solid #aaa;}
  > p {margin-right: 2.4rem;}
}
  
//
// .. Textarea
//
.form_textarea {
  padding: $form-el-padding; 
  border: $form-el-border;
  border-radius: $form-el-border-radius;
  background: $form-el-bg;
  color: $form-el-color;
  font-size: $form-el-font-size;
}

//
// .. Label
//
.form_label {
  color: $form-el-color;
  font-size: $form-el-font-size;
  line-height: 30px;
  .form_checkbox,
  .form_radio {
    &.__fake {
      top: 3px;
      vertical-align: baseline;
    }
  }
}

//
// .. Legend
//
.form_legend {
  @extend .delta;
  color: $form-el-color;
}
  
.form {
  //
  // .. Disabled
  //
  [disabled] {
    border-color: fade-out($form-el-border-color, .5) !important;
    background: darken($form-el-bg, 5%) !important;
    color: fade-out($form-el-color, .75) !important;
    cursor: no-drop !important;
  }

  //
  // .. Reqiured
  //
  [data-required="before"]::before,
  [data-required="after"]::after {
    top: -.33rem;
    color: fade-out($form-el-color-required, .3);
    content: "\f069";
    line-height: 1;
    font: {
      family: FontAwesome;
      size: 70%;
    }
  }
  [data-required="before"]::before {margin-left: -1.5rem;}
  [data-required="after"]::after {margin-left: .25rem;}

  //
  // .. Validation
  //
  [data-valid="true"] {
    border-color: fade-out($form-el-color-valid-true, .3) !important;
    background: fade-out($form-el-color-valid-true, .9) !important;
    color: $form-el-color-valid-true !important;
    &::after {
      border-color: fade-out($form-el-color-valid-true, .6) !important;
      color: fade-out($form-el-color-valid-true, .3) !important;
    }
    &:hover::after {border-color: fade-out($form-el-color-valid-true, .3) !important;}
  }

  [data-valid="false"] {
    border-color: fade-out($form-el-color-valid-false, .3) !important;
    background: fade-out($form-el-color-valid-false, .9) !important;
    color: $form-el-color-valid-false !important;
    &::after {
      border-color: fade-out($form-el-color-valid-false, .6) !important;
      color: fade-out($form-el-color-valid-false, .3) !important;
    }
    &:hover::after {border-color: fade-out($form-el-color-valid-false, .3) !important;}
  }
}