.ico {
  display: inline-block;
  background: {
    color: transparent;
    repeat: no-repeat;
  }
  &.__social {
    @include size(30, 30);
    background-image: url(/assets/images/icons/ico-social.png);
    &.__vk {background-position: 0 0;}
    &.__fb {background-position: -30px 0;}
    &.__tw {background-position: -60px 0;}
    &.__yt {background-position: -90px 0;}
    &.__ok {background-position: -120px 0;}
    &.__ig {background-position: -150px 0;}
    &.__p  {background-position: -180px 0;}
    &.__gp {background-position: -210px 0;}
  }
  &.__14 {
    @include size(14, 14);
    background-image: url(/assets/images/icons/ico-14.png);
    &.__refresh {background-position: 0 0;}
  }
  &.__16 {
    @include size(16, 16);
    background-image: url(/assets/images/icons/ico-16.png);
    &.__pront {background-position: 0 0;}
    &.__mail  {background-position: -16px 0;}
    &.__skype {background-position: -32px 0;}
  }
  &.__20 {
    @include size(20, 20);
    background-image: url(/assets/images/icons/ico-20.png);
    &.__user         {background-position: 0 0;}
    &.__user.__hover {background-position: 0 -20px;}
    &.__times        {background-position: -20px 0;}
    &.__like         {background-position: -40px 0;}
    &.__like.__hover {background-position: -40px -20px;}
  }
  &.__24 {
     @include size(24, 24);
     background-image: url(/assets/images/icons/ico-24.png);
     &.__search {background-position: 0 0;}
  }
  &.__30 {
    @include size(30, 30);
    background-image: url(/assets/images/icons/ico-30.png);
    &.__user {background-position: 0 0;}
    &.__lock {background-position: -30px 0;}
    &.__stop {background-position: -60px 0;}
  }
}