@if $grid == "responsive-auto" or $grid == "responsive-manual" {
  @include media-query(tablet) {body {padding-top: 0 !important;}}
  @include media-query(phone) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. BAR
//
//****************************************************************************************************
.bar {
  background-color: #fff;
  border-bottom: 3px solid $muted-color;
}
  .bar_i {
    cursor: pointer;
    position: relative;
    &:first-child {border-left:  1px solid transparent;}
    &:last-child  {border-right: 1px solid transparent;}
    &:not(:last-child) {border-right: 1px solid #eee;}
    &:hover {
      &:first-child {border-color: #eee;}
      &:last-child  {border-color: #eee;}
      @include linear-gradient(vertical, #f8f8f8, #fefefe);
    }
    &.__location, &.__currency {
      &:hover {
        .dropdown {display: block;}
        .bar_i_inner_a {&::after {content: '\f077';}}
      }
    }
    &.__contacts {

    }
    &.__user {
      a {
        color: $major-color;
        text-decoration: underline;
        &:hover {text-decoration: none;}
      }
      .ico {
        margin-right: 8px;
        position: relative;
        top: -2px;
      }
      &:hover {
        .dropdown {display: block;}
        .ico {
          @extend .ico.__20.__user.__hover;
        }
      }
    }
  }
    .bar_i_cell {
      display: table-cell;
      font-size: 11px;
      height: 50px;
      line-height: 14px;
      vertical-align: middle;
    }
      .bar_i_inner {
        display: inline-block;
        padding: 0 20px;
        position: relative;
        vertical-align: middle;
        z-index: 999;
        &.__location, &.__currency {
          .bar_i_inner_a {
            &:hover {
              color: $base-color;
              span {border-color: $base-color;}
            }
            &::after {
              color: $major-color;
              content: '\f078';
              font-size: 8px;
              font-family: FontAwesome;
              margin-left: 5px;
            }
          }
        }
        &.__contacts {
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      //
      // .. Dropdown
      //
      .dropdown {
        background-color: #fff;
        border-right:  1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        border-left:   1px solid #e1e1e1;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
        cursor: default;
        display: none;
        padding: 50px 10px 0;
        position: absolute;
        top: 0;
        right: -1px;
        left: 0;
        z-index: 998;
        @include prefixes(transition, all .33s);
      }
        .dropdown_inner {
          border-top: 3px solid #ddd;
          padding: 10px 0;
        }

          //
          // .. Menu
          //
          .dropdown_menu {

          }
            .dropdown_menu_i {

            }
              .dropdown_menu_i_a {
                display: block;
                line-height: 25px;
                padding: 0 10px;
                &:hover {
                  background-color: $base-color;
                  color: #fff;
                }
              }



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  background-color: #fff;
  padding: 30px 0;
  @include media-query(desktop) {
    &.__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background: $base-bg;
      box-shadow: .1em .1em .3em rgba(0, 0, 0, .25);
    }
  }
}


//****************************************************************************************************
//
// .. NAV
//
//****************************************************************************************************
.nav {
  background-color: $base-color;
  > .ctn {
    position: relative;
  }
}

//
// .. MENU
//
.menu {

}
  .menu_i {
    display: inline-block;
    &:hover {
      background-color: $major-color;
    }
    &.__dropdown {
      &:hover {
        position: relative;
        > ul {display: block !important;}
        &::before {
          content: '';
          border-left:  7px solid transparent;
          border-right: 7px solid transparent;
          border-top:   7px solid $major-color;
          height: 0;
          width: 0;
          position: absolute;
          top: 100%;
          left: 50%;
          z-index: 9999;
          @include prefixes(transform, translate(-50%, 0));
        }
      }
    }
  }
    .menu_i_a {
      color: #fff;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      text-transform: uppercase;
      &:hover {
        color: #fff;
      }
    }

  //
  // .. Dropdown menu
  //
  .menu .menu_i.__dropdown {
    > ul {
      background-color: #fff;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 10px 0;
      width: 280px;
      z-index: 9998;
    }
    > ul > li {
      &:first-child {
        > a {
          &::before {display: none;}
        }
      }
      &:hover {
        > a  {
          color: $link-color-hover;
          &::after {display: block;}
        }
        > ul {display: block;}
      }
    }
    > ul > li > a {
      display: block;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      padding: 12px 60px 12px 30px;
      position: relative;
      text-transform: uppercase;
      &::before {
        background-color: $muted-color;
        content: '';
        height: 1px;
        position: absolute;
        top: 0;
        right: 30px;
        left: 30px;
      }
      &::after {
        border-top:    7px solid transparent;
        border-left:   7px solid #fff;
        border-bottom: 7px solid transparent;
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        right: -7px;
        height: 0;
        width: 0;
        z-index: 9999;
        @include prefixes(transform, translate(0, -50%));
      }
      .fa {
        font-size: 10px;
        position: absolute;
        top: 50%;
        right: 30px;
        @include prefixes(transform, translate(0, -50%));
      }
    }
    > ul > li > ul {
      background-color: rgba(39, 39, 39, .95);
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      padding: 10px 0;
      width: 280px;
      z-index: 9998;
    }
    > ul > li > ul > li {
      &:first-child {
        > a {
          &::before {display: none;}
        }
      }
      &:hover {
        > a   {
          color: $link-color-hover;
          &::after {display: block;}
        }
        > div {display: block;}
      }
    }
    > ul > li > ul > li > a {
      color: #fff;
      display: block;
      font-size: 14px;
      font-weight: 600;
      line-height: 15px;
      padding: 12px 30px;
      position: relative;
      &::before {
        background-color: #3d3d3d;
        content: '';
        height: 1px;
        position: absolute;
        top: 0;
        right: 30px;
        left: 30px;
      }
      &::after {
        border-top:    7px solid transparent;
        border-left:   7px solid #3d3d3d;
        border-bottom: 7px solid transparent;
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        right: -7px;
        height: 0;
        width: 0;
        z-index: 9999;
        @include prefixes(transform, translate(0, -50%));
      }
      &:hover {
        color: $link-color-hover;
      }
    }
    > ul > li > ul > li > div {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 380px;
    }
  }

//
// .. SEARCH
//
.search {
  position: absolute;
  top: 8px;
  right: 0;
}
  .search_input {
    background-color: #fff;
    color: #3b3c40;
    font-size: 12px;
    height: 34px;
    padding: 0 20px 0 50px;
    vertical-align: middle;
    width: 313px;
    &::-webkit-input-placeholder {color: #3b3c40;}
    &:-moz-placeholder {color: #3b3c40;}
  }
  .search_submit {
    background-color: #e7e7e7;
    border-left: 1px solid $muted-color;
    font-size: 12px;
    font-weight: 700;
    height: 34px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 85px;
  }
  .search_ico {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -12px;
  }




//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {
  > .ctn {
    background-color: #fff;
    border: 3px solid $muted-color;
    padding: 0 57px 70px;
  }
  &.__home {
    > .ctn {
      border-top: none;
    }
  }
}



//****************************************************************************************************
//
// .. ITEM
//
//****************************************************************************************************
.items {

}
  .item {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    display: inline-block;
    padding: 13px 20px 70px;
    position: relative;
    width: 210px;
    vertical-align: top;
    @include prefixes(box-sizing, border-box);
    &:not(:last-child) {margin-right: 14px;}
    &:hover {
      border-color: #fa1951;
      box-shadow: inset 0 0 0 4px #fa1951;
      &.__badge {
        &::before, &::after {display: none;}
      }
    }
    &.__badge {
      &::before {
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        height: 20px;
        line-height: 20px;
        padding: 0 16px 0 7px;
        position: absolute;
        text-transform: uppercase;
        top: 20px;
        right: -7px;
      }
      &::after {
        border-right: 7px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        top: 40px;
        right: -7px;
        width: 0;
      }
    }
    &.__new {
      &::before {
        content: 'Новинка';
        background-color: $new-color;
      }
      &::after {
        border-top: 7px solid #5a9300;
      }
    }
    &.__order {
      &::before {
        content: 'Под заказ';
        background-color: $order-color;
      }
      &::after {
        border-top: 7px solid #0081b1;
      }
    }
    &.__stock {
      &::before {
        content: 'Акция';
        background-color: $stock-color;
      }
      &::after {
        border-top: 7px solid #b7002e;
      }
    }
    &.__hit {
      &::before {
        content: 'Лидер продаж';
        background: $hit-color url(/assets/images/hit_s.png) center right no-repeat;
      }
      &::after {
        border-top: 7px solid #a16f00;
      }
    }
  }
    .item_name {
      margin-bottom: 10px;
      a {
        color: $link-color-hover;
        font-size: 12px;
        line-height: 14px;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .item_photo {
      margin-bottom: 10px;
      text-align: center;
    }
    .item_caption {
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      text-transform: uppercase;
      a {color: #333;}
    }
    .item_price {
      position: absolute;
      right: 20px;
      left: 20px;
      bottom: 15px;
    }
      .item_price_old {
        font-size: 12px;
        text-decoration: line-through;
      }
      .item_price_new {
        font-size: 22px;
        font-weight: 700;
        line-height: 18px;
        span {
          font-size: 13px;
          font-weight: 600;
        }
      }



//****************************************************************************************************
//
// .. Filter
//
//****************************************************************************************************
.filter {

}
  .filter_badge {

  }
    .filter_badge_i {
      height: 40px;
      line-height: 40px;
      padding: 0 18px;
      &.__new   {background-color: $new-color;}
      &.__stock {background-color: $stock-color;}
      &.__hit   {background:       $hit-color url(/assets/images/hit_l.png) 0 0 no-repeat;}
      &.__order {background-color: $order-color;}
      &:not(:last-child) {margin-bottom: 3px;}
      .form_label {
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
      }
        .form_checkbox.form_el.__fake {
          margin-right: 17px;
          top: 2px;
        }
    }
  .filter_block {

  }
    .filter_block_t {
      border-bottom: 3px solid #e2e2e2;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      padding: 15px 0;
      position: relative;
      .fa {
        font-size: 10px;
        position: absolute;
        top: 50%;
        right: 0;
        @include prefixes(transform, translate(0, -50%));
      }
    }
    .filter_block_b {
      border-bottom: 1px solid #e2e2e2;
      display: none;
    }

    // .. Accordion
    .filter_accordion {

    }
      .filter_accordion_i {
        padding-left: 10px;
        &:not(:last-child) {
          border-bottom: 1px solid #e2e2e2;
        }
      }
        .filter_accordion_i_t {
          cursor: pointer;
          font-size: 13px;
          font-weight: 600;
          line-height: 40px;
          text-transform: uppercase;
          .fa {
            font-size: 11px;
            margin-right: 15px;
          }
          &.__open {
            color: #f21249;
            .fa {
              @include prefixes(transform, rotate(90deg));
            }
          }
        }
        .filter_accordion_i_b {
          display: none;
          padding-bottom: 10px;
        }



//****************************************************************************************************
//
// .. SLIDER
//
//****************************************************************************************************
.imageslider {
  position: relative;
}

.iosslider {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  @include prefixes(box-sizing, border-box);
  .slider {
    width: 100%;
    height: 100%;
    .slide {
      float: left;
      width: 100%;
    }
  }
}

.slider-nav {

}
  .slider-nav_i {
    background-color: #99999b;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 0 10px;
    width: 12px;
    &.__current, &.cycle-pager-active {
      background-color: #ee1753;
    }
  }
    .slider-more {
      color: #fa1951;
      font-size: 12px;
      position: absolute;
      top: 10px;
      right: 29px;
      text-decoration: underline;
      &:hover {text-decoration: none;}
    }

// .. Catalog
.iosslider.__catalog {
  .slider {
    .slide {
      padding: 40px 28px 30px;
    }
  }
  .slider-nav {
    position: absolute;
    top: 10px;
    left: 18px;
  }
}

// .. Banners
.imageslider.__banners {
  .slider-nav {
    position: absolute;
    right: 10px;
    bottom: 35px;
    z-index: 999;
  }
}



//****************************************************************************************************
//
// .. TABS
//
//****************************************************************************************************
.tabs {
  &.__catalog {
    .ui-tabs-nav {
      margin: 0 0 20px 29px;
      li {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        line-height: 17px;
        margin-right: 30px;
        text-transform: uppercase;
        &.ui-tabs-active {
          position: relative;
          &::after {
            background: url(/assets/images/triangle.png) 0 0 no-repeat;
            content: '';
            height: 10px;
            position: absolute;
            top: 30px;
            left: 50%;
            margin-left: -9px;
            width: 18px;
            z-index: 999;
          }
          a {
            color: #f9093a;
            border-color: #f9093a;
          }
        }
      }
    }
    .ui-tabs-panel {

    }
  }
}



//****************************************************************************************************
//
// .. SITE MAP
//
//****************************************************************************************************
.site-map {

}
  .site-map_toggle {
    padding: 30px 0;
    text-align: center;
  }
    .site-map_toggle_a {
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      &::after {
        content: '\f078';
        font-size: 10px;
        font-family: FontAwesome;
        margin-left: 10px;
        position: relative;
        top: -2px;
      }
      &:hover {
        color: inherit;
        span {border-color: $base-color !important;}
      }
      &.__open {
        &::after {content: '\f077';}
      }
    }
  .site-map_navs {
    display: none;
    padding-bottom: 40px;
  }
    .site-map_nav {
      display: inline-block;
      &.__catalog  {width: 210px;}
      &.__brands   {width: 115px;}
      &.__actions  {width: 115px;}
      &.__study    {width: 125px;}
      &.__magazine {width: 110px;}
      &.__pudra    {width: 165px;}
      &:not(:last-child) {margin-right: 20px;}
    }
      .site-map_nav_a {
        clear: left;
        font-size: 12px;
        float: left;
        line-height: 15px;
        opacity: .8;
        text-decoration: underline;
        &:not(:last-child) {margin-bottom: 10px;}
      }



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
// .. USER BLOCK
//
.authorized {
  padding: 10px;
  position: relative;
}
  .authorized_user {

  }
    .authorized_user_avatar {
      position: absolute;
      vertical-align: top;
    }
    .authorized_user_caption {
      margin-bottom: 20px;
      min-height: 50px;
      padding-left: 70px;
    }
      .authorized_user_name {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        margin-bottom: 5px;
      }
      .authorized_user_status {
        font-size: 12px;
        line-height: 14px;
      }

//
// .. LAYER
//
.layer {
  background-color: #f7f7f7;
  border: 1px solid $muted-color;
  @include prefixes(box-sizing, border-box);
}

//
// .. BREADCRUMBS
//
.breadcrumbs {

}
  .breadcrumbs_i {
    color: #333;
    font-size: 11px;
    line-height: 16px;
    margin-right: 25px;
    position: relative;
    &:hover {color: #333;}
    &:not(:last-child) {
      &::after {
        background: url(/assets/images/chevron.png) 0 0 no-repeat;
        content: '';
        height: 5px;
        position: absolute;
        top: 6px;
        right: -15px;
        width: 3px;
      }
    }
    &.__current {color: #fa0736;}
  }

//
// .. HEADLINE
//
.headline {
  border-bottom: 5px solid $base-color;
  padding: 20px 0 25px 0;
}
  .headline_t {
    line-height: 1;
    text-transform: uppercase;
  }
  .headline_print {
    color: #333;
    font-size: 11px;
    line-height: 16px;
    &:hover {color: #333;}
    .ico {
      margin-right: 10px;
      position: relative;
      top: 3px;
    }
  }

//
// .. LOAD MORE
//
.load {
  background-color: #eb1c5c;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  @include linear-gradient(horizontal, #e62368, #f60c40);
  &:hover {color: #fff;}
  .ico {
    margin-left: 30px;
    position: relative;
    top: 2px;
  }
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {

}

  //
  // .. Sections
  //
  .footer_section {
    &.__links {
      background-color: #fff;
      border-top: 3px solid $muted-color;
      padding: 35px 0;
      > .ctn {
        position: relative;
        &::before, &::after {
          background-color: #f0f0f0;
          content: '';
          position: absolute;
          top: -35px;
          bottom: -15px;
          width: 1px;
        }
        &::before {left: 180px;}
        &::after  {left: 720px;}
      }
      h2 {margin-bottom: 5px;}
      ul {
        li {
          line-height: 14px;
          &:not(:last-child) {margin-bottom: 5px;}
          a {
            font-size: 12px;
            line-height: inherit;
            text-decoration: underline;
            &:hover {text-decoration: none;}
          }
        }
      }
    }
    &.__nav {
      background-color: #fff;
      border-top: 3px solid $muted-color;
      padding: 15px 0;
    }
    &.__info {
      background-color: $base-color;
      color: #fff;
      padding: 25px 0 40px;
    }
  }

    //
    // .. Navigation
    //
    .footer_nav {

    }
      .footer_nav_i {
        display: inline-block;
        &:not(:last-child) {margin-right: 25px;}
      }
        .footer_nav_i_a {
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
        }

    //
    // .. Social
    //
    .footer_social {
      display: inline-block;
      margin-left: 20px;
    }
      .footer_social_i {
        display: inline-block;
        margin-left: 10px;
      }
        .footer_social_i_a {
          .ico {vertical-align: top;}
        }

    //
    // .. .Payment
    //
    .footer_payment {
      padding-left: 50px;
    }
      .footer_payment_i {
        display: inline-block;
        padding: 10px;
        position: relative;
        &::before, &::after {
          content: '';
          position: absolute;
        }
        &::before {
          background-color: #e1e1e2;
          top: 10px;
          bottom: 10px;
          left: 0;
          width: 1px;
        }
        &.__cash {
          border: none;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
          a {color: #4c4c4c;}
          &::before {display: none;}
        }
        &.__visa {
          &::after {
            background-color: #e1e1e2;
            height: 1px;
            right: 10px;
            bottom: 0;
            left: 10px;
          }
        }
        &.__wm {
          &::after {
            background-color: #e1e1e2;
            height: 1px;
            right: 10px;
            bottom: 0;
            left: 10px;
          }
        }
        &.__mc {

        }
        &.__ep {

        }
      }

    //
    // .. Partnerships
    //
    .footer_partnerships {
      padding-left: 50px;
    }
      .footer_partnerships_i {
        display: inline-block;
        padding: 0 10px;
        &:first-child {padding-left: 0;}
        &:last-child  {padding-right: 0;}
        &:not(:last-child) {border-right: 1px solid #e1e1e2;}
      }

    //
    // .. Safety
    //
    .footer_safety {
      padding-left: 40px;
    }
      .footer_safety_i {
        padding-left: 30px;
        position: relative;
        &:not(:last-child) {margin-bottom: 10px;}
        .ico {
          position: absolute;
          top: 5px;
          left: -10px;
        }
        a {
          color: $major-color;
          font-size: 12px;
          line-height: 30px;
          text-decoration: underline;
          &:hover {text-decoration: none;}
        }
        figcaption {
          font-size: 11px;
          line-height: 14px;
        }
      }