@if $grid == "responsive-auto" or $grid == "responsive-manual" {
  @include media-query(tablet) {body {padding-top: 0 !important;}}
  @include media-query(phone) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. BAR
//
//****************************************************************************************************
.bar {
  border-bottom: 3px solid $muted-color;
  background-color: #fff;
}
  .bar_i {
    @include prefixes(box-sizing, border-box);
    position: relative;
    display: table-cell;
    padding: 0 20px;
    height: 50px;
    vertical-align: middle;
    font-size: 11px;
    line-height: 14px;
    &:not(:last-child) {border-right: 1px solid $muted-color;}
    &.__location, &.__currency {
      .bar_i_inner > a {
        &:hover {
          color: $base-color;
          span {border-color: $base-color !important;}
        }
        &::after {
          margin-left: 5px;
          color: $major-color;
          content: '\f078';
          font: {
            family: FontAwesome;
            size: 8px;
          }
        }
      }
    }
    &.__location {
      width: 120px;
    }
    &.__currency {
      width: 120px;
    }
    &.__contacts {
      position: relative;
      width: 480px;      
      text-transform: uppercase;
      font: {
        size: 16px;
        weight: 700;
      }
      &::after {
        @include prefixes(transform, translate(0, -50%));        
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 999;
        content: '\f078';
        font: {
          family: FontAwesome;
          size: 12px;
        }
      }
      a {
        text-decoration: underline;
        &:hover {
          color: $base-color;
          text-decoration: none;
        }
      }
    }
    &.__authorize {
      width: 215px;
      a {
        color: $major-color;
        text-decoration: underline;
        &:hover {text-decoration: none;}
      }
      .ico {
        position: relative;
        top: -2px;
        margin-right: 8px;
      }
      &:hover {
        .dropdown {display: block;}
        .ico {
          @extend .ico.__20.__user.__hover;
        }
      }
    }
    &:hover {
      .dropdown {display: block;}
      &.__location, &.__currency {
        &:hover {
          .bar_i_inner > a {&::after {content: '\f077';}}
        }
      }
      &.__contacts {
        &:hover {
          &::after {content: '\f077';}
        }
      }
    }
  }
    .bar_i_inner {
      position: relative;
      z-index: 999;
    }

      //
      // .. Dropdown
      //
      .dropdown {
        @include prefixes(transition, all .33s);
        position: absolute;
        top: 0;
        right: -1px;
        left: -1px;
        z-index: 998;
        display: none;
        padding: 50px 10px 0;
        background-color: #fff;                
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
        cursor: default;
        border: {
          right:  1px solid #e1e1e1;
          bottom: 1px solid #e1e1e1;
          left:   1px solid #e1e1e1;
        }
      }
        .dropdown_inner {
          padding: 10px 0;
          border-top: 3px solid #ddd;
        }

          //
          // .. Menu
          //
          .dropdown_menu {

          }
            .dropdown_menu_i {

            }
              .dropdown_menu_i_a {
                display: block;
                padding: 0 10px;
                line-height: 25px;
                &:hover {
                  background-color: $base-color;
                  color: #fff;
                }
              }


//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  @include media-query(desktop) {
    &.__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background: $base-bg;
      box-shadow: .1em .1em .3em rgba(0, 0, 0, .25);
    }
  }
  background-color: #fff;
}
  .header_i {
    display: table-cell;
    padding: 0 20px;
    height: 170px;
    vertical-align: middle;
    &.__logo {
      width: 160px;
    }
    &.__about {
      width: 280px;
      border-left: 1px solid transparent;
      &:hover {
        @include linear-gradient(vertical, #f2f2f2, #fff);
        border-left: 1px solid $muted-color;
      }
    }
    &.__wish {
      width: 180px;
      border-left: 1px solid $muted-color;
      &:hover {
        @include linear-gradient(vertical, #f2f2f2, #fff);
      }
    }
    &.__basket {      
      width: 320px;
      border: {
        right: 1px solid transparent;
        left:  1px solid $muted-color;
      }
      &:hover {
        @include linear-gradient(vertical, #f2f2f2, #fff);
        border-right: 1px solid $muted-color;
      }
    }
  }
    .header_i_a {
      color: $link-color-hover;
      text-transform: uppercase;      
      line-height: 20px;
      font: {
        size: 13px;
        weight: 700;
      }
      &.__pseudo {border-color: $link-color-hover !important;}
      &:not(.__pseudo) {border-bottom: 1px solid $link-color-hover;}
    }
    .header_i_caption {

    }



//****************************************************************************************************
//
// .. NAV
//
//****************************************************************************************************
.nav {
  background-color: $base-color;
  > .ctn {
    position: relative;
  }
}

//
// .. MENU
//
.menu {

}
  .menu_i {
    display: inline-block;
    &:hover {
      background-color: $major-color;
    }
    &.__dropdown {
      &:hover {
        position: relative;
        > ul {display: block !important;}
        &::before {
          @include prefixes(transform, translate(-50%, 0));
          position: absolute;
          top: 100%;
          left: 50%;
          z-index: 9999;
          width: 0;
          height: 0;
          content: '';
          border: {
            top:   7px solid $major-color;
            right: 7px solid transparent;
            left:  7px solid transparent;
          }
        }
      }
    }
  }
    .menu_i_a {
      display: inline-block;
      padding: 0 20px;      
      height: 50px;
      color: #fff;
      text-transform: uppercase;
      line-height: 50px;
      font: {
        size: 14px;
        weight: 600;
      }
      &:hover {
        color: #fff;
      }
    }

  //
  // .. Dropdown menu
  //
  .menu .menu_i.__dropdown {
    > ul {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 9998;
      display: none;
      padding: 10px 0 50px;
      min-height: 360px;
      width: 280px;
      background-color: #fff;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
    }
    > ul > li {
      &:first-child {
        > a {
          &::before {display: none;}
        }
      }
      &:hover {
        > a  {
          color: $link-color-hover;
          &::after {display: block;}
        }
        > ul {display: block;}
      }
    }
    > ul > li > a {
      position: relative;
      display: block;
      padding: 12px 60px 12px 30px;
      text-transform: uppercase;      
      line-height: 15px;
      font: {
        size: 13px;
        weight: 700;
      }
      &::before {
        position: absolute;
        top: 0;
        right: 30px;
        left: 30px;
        height: 1px;
        background-color: $muted-color;
        content: '';
      }
      &::after {
        @include prefixes(transform, translate(0, -50%));
        position: absolute;
        top: 50%;
        right: -6px;
        z-index: 9999;
        display: none;
        width: 0;
        height: 0;
        content: '';
        border: {
          top:    7px solid transparent;
          bottom: 7px solid transparent;
          left:   7px solid #fff;
        }
      }
      .fa {
        @include prefixes(transform, translate(0, -50%));
        position: absolute;
        top: 50%;
        right: 30px;
        font-size: 10px;
      }
    }
    > ul > li > ul {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      display: none;
      padding: 10px 0;
      width: 280px;
      background-color: rgba(39, 39, 39, .95);
    }
    > ul > li > ul > li {
      &:first-child {
        > a {
          &::before {display: none;}
        }
      }
      &:hover {
        > a   {
          color: $link-color-hover;
          &::after {display: block;}
        }
        > div {display: block;}
      }
    }
    > ul > li > ul > li > a {
      position: relative;
      display: block;
      padding: 12px 30px;
      color: #fff;
      line-height: 15px;
      font: {
        size: 14px;
        weight: 600;
      }
      &::before {
        position: absolute;
        top: 0;
        right: 30px;
        left: 30px;
        height: 1px;
        background-color: #3d3d3d;
        content: '';
      }
      &::after {
        @include prefixes(transform, translate(0, -50%));
        position: absolute;
        top: 50%;
        right: -6px;
        display: none;
        width: 0;
        height: 0;
        border-bottom: 7px solid transparent;
        content: '';
        border: {
          top:    7px solid transparent;
          left:   7px solid #3d3d3d;
        }
      }
      &:hover {
        color: $link-color-hover;
      }
    }
    > ul > li > ul > li > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      display: none;
      width: 660px;
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
      }
    }
  }

//
// .. SEARCH
//
.search {
  position: absolute;
  top: 8px;
  right: 0;
}
  .search_input {
    padding: 0 20px 0 50px;
    width: 313px;
    height: 34px;
    background-color: #fff;
    color: #3b3c40;
    vertical-align: middle;
    font-size: 12px;
    &::-webkit-input-placeholder {color: #3b3c40;}
    &:-moz-placeholder {color: #3b3c40;}
  }
  .search_submit {
    width: 85px;
    height: 34px;
    border-left: 1px solid $muted-color;
    background-color: #e7e7e7;
    vertical-align: middle;
    text-transform: uppercase;
    font: {
      size: 12px;
      weight: 700;
    }
  }
  .search_ico {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -12px;
  }



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {
  > .ctn {
    padding: 0 57px 70px;
    border: 3px solid $muted-color;
    background-color: #fff;
  }
  &.__home {
    > .ctn {
      border-top: none;
    }
  }
}



//****************************************************************************************************
//
// .. HOME NAVIGATION
//
//****************************************************************************************************
.home-nav {
  position: relative;
}

  //
  // .. Dropdown menu
  //
  .home-nav {
    > ul {
      position: relative;
      z-index: 9997;
      display: inline-block;
      padding: 10px 0;
      min-height: 360px;
      width: 280px;
      vertical-align: top;
      &:hover {
        box-shadow: inset 0 0 0 1px #e1e1e1;
      }
    }
    > ul > li {
      &:first-child {
        > a {
          &::before {display: none;}
        }
      }
      &:hover {
        > a  {
          color: $link-color-hover;
          &::after {display: block;}
        }
        > ul {display: block;}
      }
    }
    > ul > li > a {
      position: relative;
      display: block;
      padding: 12px 60px 12px 30px;
      text-transform: uppercase;
      line-height: 15px;
      font: {
        size: 13px;
        weight: 700;
      }
      &::before {
        position: absolute;
        top: 0;
        right: 30px;
        left: 30px;
        height: 1px;
        background-color: $muted-color;
        content: '';
      }
      &::after {
        @include prefixes(transform, translate(0, -50%));
        position: absolute;
        top: 50%;
        right: -6px;
        z-index: 9999;
        display: none;
        width: 0;
        height: 0;
        content: '';
        border: {
          top:    7px solid transparent;
          bottom: 7px solid transparent;
          left:   7px solid #fff;
        }
      }
      .fa {
        @include prefixes(transform, translate(0, -50%));
        position: absolute;
        top: 50%;
        right: 30px;
        font-size: 10px;
      }
    }
    > ul > li > ul {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      display: none;
      padding: 10px 0;
      width: 280px;
      background-color: rgba(39, 39, 39, .95);
    }
    > ul > li > ul > li {
      &:hover {
        > a   {
          color: $link-color-hover;
          &::after {display: block;}
        }
        > div {display: block;}
      }
    }
    > ul > li > ul > li > a {
      position: relative;
      display: block;
      padding: 12px 30px;
      color: #fff;
      line-height: 15px;
      font: {
        size: 14px;
        weight: 600;
      }
      &::before {
        position: absolute;
        top: 0;
        right: 30px;
        left: 30px;
        height: 1px;
        background-color: #3d3d3d;
        content: '';
      }
      &::after {
        @include prefixes(transform, translate(0, -50%));
        position: absolute;
        top: 50%;
        right: -6px;
        display: none;
        width: 0;
        height: 0;
        content: '';
        border: {
          top:    7px solid transparent;
          bottom: 7px solid transparent;
          left:   7px solid #3d3d3d;
        }
      }
      &:hover {
        color: $link-color-hover;
      }
    }
    > ul > li > ul > li > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      display: none;
      width: 660px;
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
      }
    }
  }



//****************************************************************************************************
//
// .. ARTICLE
//
//****************************************************************************************************
.article {
  position: relative;
  &.__ttb {
    .article_footer {left: 0;}
  }
  &.__ltr {
    .article_footer {right: 0;}
  }
  &.__rtl {
    .article_footer {left: 0;}
  }
  > .grid {margin-bottom: 0;}
} 
  .article_header {
    height: 214px;
  }
  .article_body {
    height: 214px;
  }
  .article_footer {
    position: absolute;
    bottom: 20px;
    width: 300px;
    background-color: #fff;
    padding: 8px 0 6px;
    ul {
      display: inline-block;
      vertical-align: middle;
      li {
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        color: #272727;
        &:not(:last-child) {margin-right: 20px;}
        span, i {
          vertical-align: middle;
        }
        i {margin-right: 5px;}
      }
    }
  }
    .article_footer_more {
      position: absolute;
      top: 50%;
      right: 0;
      text-decoration: underline;
      @include prefixes(transform, translate(0, -50%));
    }



//****************************************************************************************************
//
// .. ITEM
//
//****************************************************************************************************
.items {

}
  .item {
    @include prefixes(box-sizing, border-box);
    position: relative;
    display: inline-block;
    padding: 13px 20px 70px;
    width: 210px;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    vertical-align: top;
    &:not(:last-child) {margin-right: 14px;}
    
    &:hover, &.__hover {
      border-color: #fa1951;
      box-shadow: inset 0 0 0 4px #fa1951;
      &.__badge {
        &::before, &::after {display: none;}
      }
      .item_price, .item_caption {display: none;}
      .item_like, .item_more {display: block;}
    }
    
    &.__badge {
      &::before {
        position: absolute;
        top: 20px;
        right: -7px;
        padding: 0 16px 0 7px;
        height: 20px;
        color: #fff;
        text-transform: uppercase;
        line-height: 20px;
        font: {
          size: 10px;
          weight: 700;
        }
      }
      &::after {
        position: absolute;
        top: 40px;
        right: -7px;
        width: 0;
        height: 0;
        border-right: 7px solid transparent;
        content: '';
      }
    }
    &.__new {
      &::before {
        background-color: $new-color;
        content: 'Новинка';
      }
      &::after {
        border-top: 7px solid #5a9300;
      }
    }
    &.__order {
      &::before {
        background-color: $order-color;
        content: 'Под заказ';
      }
      &::after {
        border-top: 7px solid #0081b1;
      }
    }
    &.__stock {
      &::before {
        background-color: $stock-color;
        content: 'Акция';
      }
      &::after {
        border-top: 7px solid #b7002e;
      }
    }
    &.__hit {
      &::before {
        background: $hit-color url(/assets/images/hit_s.png) center right no-repeat;
        content: 'Лидер продаж';
      }
      &::after {
        border-top: 7px solid #a16f00;
      }
    }
  }
    .item_brand {
      margin-bottom: 10px;
      a {
        color: $link-color-hover;
        text-decoration: underline;
        font-size: 12px;
        line-height: 14px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .item_photo {
      margin-bottom: 10px;
      text-align: center;
    }
    .item_caption {
      text-transform: uppercase;
      line-height: 18px;
      font: {
        size: 12px;
        weight: 600;
      }
      a {color: #333;}
    }
    .item_like {
      @include prefixes(box-sizing, border-box);
      position: relative;
      position: absolute;
      right: 4px;
      bottom: 29px;
      left: 4px;
      display: none;
      padding: 5px 0;
      height: 80px;    
      border-top: 1px solid #e3e3e3;
      text-align: center;
    }
      .item_like_i {
        &:not(:last-child) {margin-bottom: 10px;}
        a {
          &:hover {
            .ico {
              @extend .ico.__20.__like.__hover;
            }
          }
        }
      }
        .item_like_raty {
          display: inline-block;
        }
    .item_more {
      position: absolute;
      right: -1px;
      bottom: -1px;
      left: -1px;
      display: none;
      height: 30px;
      background-color: #fa1951;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      line-height: 30px;
      font: {
        size: 12px;
        weight: 600;
      }
      a {color: inherit;}
    }
    .item_price {
      position: absolute;
      right: 20px;
      bottom: 15px;
      left: 20px;
    }
      .item_price_old {
        text-decoration: line-through;
        font-size: 12px;
      }
      .item_price_new {
        line-height: 18px;
        font: {
          size: 22px;
          weight: 700;
        }
        span {
          font: {
            size: 13px;
            weight: 600;
          }
        }
      }



//****************************************************************************************************
//
// .. Filter
//
//****************************************************************************************************
.filter {

}
  .filter_badge {

  }
    .filter_badge_i {
      padding: 0 18px;
      height: 40px;
      line-height: 40px;
      &.__new   {background-color: $new-color;}
      &.__stock {background-color: $stock-color;}
      &.__hit   {background:       $hit-color url(/assets/images/hit_l.png) 0 0 no-repeat;}
      &.__order {background-color: $order-color;}
      &:not(:last-child) {margin-bottom: 3px;}
      .form_label {
        color: #fff;
        text-transform: uppercase;
        font: {
          size: 13px;
          weight: 700;
        }
      }
        .form_checkbox.form_el.__fake {
          top: 2px;
          margin-right: 17px;
        }
    }
  .filter_block {

  }
    .filter_block_t {
      position: relative;
      padding: 15px 0;
      border-bottom: 3px solid #e2e2e2;
      line-height: 1;
      cursor: pointer;
      font: {
        size: 16px;
        weight: 700;
      }
      .fa {
        @include prefixes(transform, translate(0, -50%));
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 10px;
      }
    }
    .filter_block_b {
      display: none;
      border-bottom: 1px solid #e2e2e2;
    }

    // .. Accordion
    .filter_accordion {

    }
      .filter_accordion_i {
        padding-left: 10px;
        &:not(:last-child) {
          border-bottom: 1px solid #e2e2e2;
        }
      }
        .filter_accordion_i_t {
          text-transform: uppercase;
          line-height: 40px;
          cursor: pointer;
          font: {
            size: 13px;
            weight: 600;
          }
          .fa {
            margin-right: 15px;
            font-size: 11px;
          }
          &.__open {
            color: #f21249;
            .fa {
              @include prefixes(transform, rotate(90deg));
            }
          }
        }
        .filter_accordion_i_b {
          display: none;
          padding-bottom: 10px;
        }



//****************************************************************************************************
//
// .. SLIDER
//
//****************************************************************************************************
.imageslider {
  position: relative;
}

.iosslider {
  @include prefixes(box-sizing, border-box);
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  .slider {
    width: 100%;
    height: 100%;
    .slide {
      float: left;
      width: 100%;
    }
  }
}

.slider-nav {

}
  .slider-nav_i {
    display: inline-block;
    margin: 0 10px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #99999b;
    cursor: pointer;
    &.__current, &.cycle-pager-active {
      background-color: #ee1753;
    }
  }
    .slider-more {
      position: absolute;
      top: 10px;
      right: 29px;
      color: #fa1951;
      text-decoration: underline;
      font-size: 12px;
      &:hover {text-decoration: none;}
    }

// .. Catalog
.iosslider.__catalog {
  .slider {
    .slide {
      padding: 40px 28px 30px;
    }
  }
  .slider-nav {
    position: absolute;
    top: 10px;
    left: 18px;
  }
}

// .. Promo
.imageslider.__promo {
  .slider-nav {
    position: absolute;
    right: 10px;
    bottom: 35px;
    z-index: 999;
  }
}

// .. Banners
.imageslider.__banners {
  overflow: hidden;
  height: 200px;
  .slider-nav {
    position: absolute;
    right: 10px;
    bottom: 35px;
    z-index: 999;
  }
}



//****************************************************************************************************
//
// .. TABS
//
//****************************************************************************************************
.tabs {
  &.__catalog {
    .ui-tabs-nav {
      margin: 0 0 20px 29px;
      li {
        display: inline-block;
        margin-right: 30px;
        text-transform: uppercase;
        line-height: 17px;
        font: {
          size: 16px;
          weight: 700;
        }
        &.ui-tabs-active {
          position: relative;
          &::after {
            position: absolute;
            top: 30px;
            left: 50%;
            z-index: 999;
            margin-left: -9px;
            width: 18px;
            height: 10px;
            background: url(/assets/images/triangle.png) 0 0 no-repeat;
            content: '';
          }
          a {
            border-color: #f9093a;
            color: #f9093a;
          }
        }
      }
    }
    .ui-tabs-panel {

    }
  }
}



//****************************************************************************************************
//
// .. SITE MAP
//
//****************************************************************************************************
.site-map {

}
  .site-map_toggle {
    padding: 30px 0;
    text-align: center;
  }
    .site-map_toggle_a {
      text-transform: uppercase;
      line-height: 1;
      font: {
        size: 12px;
        weight: 700;
      }
      &::after {
        position: relative;
        top: -2px;
        margin-left: 10px;
        content: '\f078';
        font: {
          size: 10px;
          family: FontAwesome;
        }
      }
      &:hover {
        color: inherit;
        span {border-color: $base-color !important;}
      }
      &.__open {
        &::after {content: '\f077';}
      }
    }
  .site-map_navs {
    display: none;
    padding-bottom: 40px;
  }
    .site-map_nav {
      display: inline-block;
      &.__catalog  {width: 210px;}
      &.__brands   {width: 115px;}
      &.__actions  {width: 115px;}
      &.__study    {width: 125px;}
      &.__magazine {width: 110px;}
      &.__pudra    {width: 165px;}
      &:not(:last-child) {margin-right: 20px;}
    }
      .site-map_nav_a {
        float: left;
        clear: left;
        text-decoration: underline;
        font-size: 12px;
        line-height: 15px;
        opacity: .8;
        &:not(:last-child) {margin-bottom: 10px;}
      }



//****************************************************************************************************
//
// .. DIALOG
//
//****************************************************************************************************
.dialog {

}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
// .. CONTACTS BLOCK
//
.contacts {
  position: relative;
  padding: 10px;
  &::before {
    @include prefixes(transform, translate(-50%, 0));
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 50%;
    width: 1px;
    background-color: $muted-color;
    content: '';
  }
}
  .contacts_cell {
    @include prefixes(box-sizing, border-box);
    position: relative;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    &.__phone {

    }
    &.__links {
      text-transform: none;
      line-height: 20px;
      font: {
        size: 12px;
        weight: 400;
      }
      a {
        color: $link-color-hover;
        &:hover {color: $link-color-hover;}
      }
      .ico {
        position: relative;
        top: -1px;
        margin-right: 10px;
        &.__mail  {margin-left: 10px;}
        &.__skype {margin-left: 12px;}
      }
    }
  }

//
// .. USER BLOCK
//
.authorized {
  position: relative;
  padding: 10px;
}
  .authorized_user {

  }
    .authorized_user_avatar {
      position: absolute;
      vertical-align: top;
    }
    .authorized_user_caption {
      margin-bottom: 20px;
      padding-left: 70px;
      min-height: 50px;
    }
      .authorized_user_name {
        margin-bottom: 5px;
        line-height: 16px;
        font: {
          size: 14px;
          weight: 600;
        }
      }
      .authorized_user_status {
        font-size: 12px;
        line-height: 14px;
      }

//
// .. LAYER
//
.layer {
  @include prefixes(box-sizing, border-box);
  border: 1px solid $muted-color;
  background-color: #f7f7f7;
}

//
// .. BREADCRUMBS
//
.breadcrumbs {

}
  .breadcrumbs_i {
    position: relative;
    margin-right: 25px;
    color: #333;
    font-size: 11px;
    line-height: 16px;
    &:hover {color: #333;}
    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 6px;
        right: -15px;
        width: 3px;
        height: 5px;
        background: url(/assets/images/chevron.png) 0 0 no-repeat;
        content: '';
      }
    }
    &.__current {color: #fa0736;}
  }

//
// .. HEADLINE
//
.headline {
  padding: 20px 0 25px 0;
  border-bottom: 5px solid $base-color;
}
  .headline_t {
    text-transform: uppercase;
    line-height: 1;
  }
  .headline_print {
    color: #333;
    font-size: 11px;
    line-height: 16px;
    &:hover {color: #333;}
    .ico {
      position: relative;
      top: 3px;
      margin-right: 10px;
    }
  }

//
// .. Hr
//
.hr {
  background-color: $muted-color;
  &.__muted {

  }
}

//
// .. Sorting
//
.sorting {
  display: inline-block;
  margin-left: 20px;
}
  .sorting_i {
    display: inline-block;
    &:not(:last-child) {margin-right: 20px;}
  }
    .sorting_i_a {
      position: relative;
      &::after {
        margin-left: 5px;
        content: "\f078";
        font: {
          family: FontAwesome;
          size: 10px; 
        }
      }
      &.__current {
        &::after {content: "\f077";}
      }
    }

//
// .. Range
//
.range {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  width: 190px;
}
  .range_amount {
    position: absolute;
    top: -25px;
    &.__min {
      left: 20px;
    }
    &.__max {
      right: 20px;
    }
  }
    .range_slider {
      @include prefixes(box-sizing, border-box);
      position: relative;
      height: 8px;    
      border-top: 1px solid #aeaeae;
      border-radius: 3px;
      background-color: #d8d8d9;
      box-shadow: inset 0 0 1px 0 #c3c3c4;
      .ui-slider-range {
        position: absolute;
        height: 100%;
        border-top: 1px solid #fbd8e4;
        background-color: #e62163;
      }
      .ui-slider-handle {
        position: absolute;
        width: 10px;
        height: 17px;
        border: 1px solid #ddd;
        background-color: #fbfbfb;
        margin: {
          top: -6px;
          left: -6px;
        }
      }
    }

//
// .. Tags
//    
.tags {

}
  .tags_i {
    display: inline-block;
    &:not(:last-child) {margin-right: 15px;}    
  }



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {

}

  //
  // .. Sections
  //
  .footer_section {
    &.__links {
      padding: 35px 0;
      border-top: 3px solid $muted-color;
      background-color: #fff;
      > .ctn {
        position: relative;
        &::before, &::after {
          position: absolute;
          top: -35px;
          bottom: -15px;
          width: 1px;
          background-color: #f0f0f0;
          content: '';
        }
        &::before {left: 180px;}
        &::after  {left: 720px;}
      }
      h3 {margin-bottom: 5px;}
      ul {
        li {
          line-height: 14px;
          &:not(:last-child) {margin-bottom: 7px;}
          a {
            text-decoration: underline;
            font-size: 12px;
            line-height: inherit;
            &:hover {text-decoration: none;}
          }
        }
      }
    }
    &.__nav {
      padding: 15px 0;
      border-top: 3px solid $muted-color;
      background-color: #fff;
    }
    &.__info {
      padding: 25px 0 40px;
      background-color: $base-color;
      color: #fff;
    }
  }

    //
    // .. Navigation
    //
    .footer_nav {

    }
      .footer_nav_i {
        display: inline-block;
        &:not(:last-child) {margin-right: 25px;}
      }
        .footer_nav_i_a {
          text-transform: uppercase;
          font: {
            size: 14px;
            weight: 700;
          }
        }

    //
    // .. Social
    //
    .footer_social {
      display: inline-block;
      margin-left: 20px;
    }
      .footer_social_i {
        display: inline-block;
        margin-left: 10px;
      }
        .footer_social_i_a {
          .ico {vertical-align: top;}
        }

    //
    // .. .Payment
    //
    .footer_payment {
      padding-left: 50px;
    }
      .footer_payment_i {
        position: relative;
        display: inline-block;
        padding: 10px;
        &::before, &::after {
          position: absolute;
          content: '';
        }
        &::before {
          top: 10px;
          bottom: 10px;
          left: 0;
          width: 1px;
          background-color: #e1e1e2;
        }
        &.__cash {
          border: none;
          text-align: center;
          font-size: 13px;
          line-height: 16px;
          a {color: #4c4c4c;}
          &::before {display: none;}
        }
        &.__visa {
          &::after {
            right: 10px;
            bottom: 0;
            left: 10px;
            height: 1px;
            background-color: #e1e1e2;
          }
        }
        &.__wm {
          &::after {
            right: 10px;
            bottom: 0;
            left: 10px;
            height: 1px;
            background-color: #e1e1e2;
          }
        }
        &.__mc {

        }
        &.__ep {

        }
      }

    //
    // .. Partnerships
    //
    .footer_partnerships {
      padding-left: 50px;
    }
      .footer_partnerships_i {
        display: inline-block;
        padding: 0 10px;
        &:first-child {padding-left: 0;}
        &:last-child  {padding-right: 0;}
        &:not(:last-child) {border-right: 1px solid #e1e1e2;}
      }

    //
    // .. Safety
    //
    .footer_safety {
      padding-left: 40px;
    }
      .footer_safety_i {
        position: relative;
        padding-left: 30px;
        &:not(:last-child) {margin-bottom: 10px;}
        .ico {
          position: absolute;
          top: 5px;
          left: -10px;
        }
        a {
          color: $major-color;
          text-decoration: underline;
          font-size: 12px;
          line-height: 30px;
          &:hover {text-decoration: none;}
        }
        figcaption {
          font-size: 11px;
          line-height: 14px;
        }
      }