.sprites {
  display: inline-block;
  background: {
    color: transparent;
    repeat: no-repeat;
  }  
  &.__payment {
    @include size(140, 55);
    background-image: url(/assets/images/sprites/sprite-payment.jpg);
    vertical-align: top;
    &.__visa {background-position: 0 0;}
    &.__wm   {background-position: -140px 0;}
    &.__mc   {background-position: -280px 0;}
    &.__ep   {background-position: -420px 0;}
    &.__cash {background-position: -560px 0;}
  }
  &.__partnerships {
    background-image: url(/assets/images/sprites/sprite-partnerships.jpg);
    vertical-align: top;
    &.__lj       {@include size(62, 31); background-position: 0 0;}
    &.__kraft    {@include size(95, 31); background-position: -62px 0;}
    &.__relouis  {@include size(65, 31); background-position: -157px 0;}
    &.__svyaznoy {@include size(97, 31); background-position: -222px 0;}
    &.__bgs      {@include size(69, 31); background-position: -319px 0;}
  }
  &.__socialbtn {
    background-image: url(/assets/images/sprites/sprite-social-btn.png);
    vertical-align: top;
    @include size(210, 40);
    &.__fb   {background-position: 0 0;}
    &.__vk   {background-position: 0 -40px;}
    &.__ok   {background-position: 0 -80px;}
    &.__mail {background-position: 0 -120px;}
  }
}