%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      %a{href: "/"}
        %img.va-t{src: "/assets/images/logo.png", width: 130, height: 111, alt: "Магазин косметики Pudra.by"}

    %nav.demo

      .m-b_3
        %ul
          %li
            %a{href: "https://github.com/oskolsky/markup_pudra_shop"} View Source on GitHub

      .m-b_3
        %p.m-b_2
          %b Диалоговые окна:
        %ol
          %li
            %a{href: "#", data: {dialog: "true", url: "/dialogs/_login"}} Авторизация
          %li
            %a{href: "#", data: {dialog: "true", url: "/dialogs/_register"}} Регистрация
          %li
            %a{href: "#", data: {dialog: "true", url: "/dialogs/_forgot"}} Восстановление пароля
          %li
            %a{href: "#", class: "tx __color __muted", data: {dialog: "true", url: "/dialogs/_item"}} Предварительный просмотр товара

      .m-b_3
        %p.m-b_2
          %b Страницы:
        %ol
          %li
            %a{href: "/", class: "tx __color __muted"} Главная
          %li
            %a{href: "/catalog"} Каталог товаров
          %li
            %a{href: "/catalog_show", class: "tx __color __muted"} Страница товара
          %li
            %a{href: "/basket", class: "tx __color __muted"} Корзина
          %li
            %a{href: "/checkout", class: "tx __color __muted"} Оформление заказа
          %li
            %a{href: "/payment", class: "tx __color __muted"} Оплата