%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      %h3
        %a.a.__inner{href: "/docs/index"}
          %i.fa.fa-flask
          %span Chemistry Template

    %nav.demo
      %ul.m-b_2
        %li
          %a{href: "/docs/components"} Components
      
      %ol
        %li 
          %a{href: "/docs/index"} Index
        %li 
          %a{href: "/docs/grid"} Grid
        %li 
          %a{href: "/docs/links"} Links
        %li 
          %a{href: "/docs/forms"} Forms
        %li 
          %a{href: "/docs/content"} Content
        %li 
          %a{href: "/docs/styles"} Styles