!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Chemistry Template
    = haml 'views/layouts/_head'.to_sym
    %link{rel: "stylesheet", href: "/demo/demo.css"}
  
  %body#page.page
    %main#main.main{role: "main"}
      .ctn.p-t_8.p-b_8
        = yield